<div>
    <%= link_to 'X', profile, :confirm => 'Are you sure?', :method => :delete, :class => 'close' if logged_in_as_admin? %>
	(pic) <%= link_to h(profile.name), profile_path(profile) %>
	(<%= h profile.profile_type.name %> icon)
	(friend etc links)
</div>