<div>
	(pic) <%= link_to h(profile.name), profile_path(profile) %>
	(<%= h profile.profile_type.name %> icon)
	(friend etc links)
    <%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete if logged_in_as_admin? %>
</div>