<%= render @profile %>

<div>
  <span><%= link_to 'Edit', edit_profile_path(@profile) %></span>
  <%=h @profile.body %>
</div>

<% unless @profile.versions.size < 2 %>
	<div style="margin: 20px 0px 10px; 1px solid black;">Revision history:</div>
	<%= render :partial => 'profile_version', :collection => @profile.versions.reverse, :as => :profile %>
<% end %>