<div>
	<h2><%=h @profile.name %> 	<small>(<%= h @profile.profile_type.name %>)</small></h2>
	<% link_to h(@profile.url), @profile.url if @profile.url %>
</div>

<div>
  <span><%= link_to 'Edit', edit_profile_path(@profile) %></span>
  <%=h @profile.body %>
</div>