<h3>Your inbox</h3>

<%= render :partial => '/discussions/new', :locals => {:context => @context} %>

<table id="discussions_<%= @context.id %>" class="nowrap">
	<% @discussions.each do |discussion| %>
		<%= render :partial => '/discussions/discussion_slim', :locals => {:discussion => discussion} %>
	<% end %>
</table>