<h1>Badges</h1>

<table>
	<% last_badge_set = 1
		@badges.each do |badge| %>
		<% if last_badge_set != badge.badge_set_id %><tr><td style="line-height: 0.3;">&nbsp;</td></tr><% end %>
		<tr>
			<td><%= image_tag 'accept.png', :title => "You've earned this badge!" if @user_badges.include? badge %></td>
			<td><%= render :partial => badge %> &#215;<%= badge.badgings_count %></td>
			<td><%= h badge.description %></td>
		</tr>
		<% last_badge_set = badge.badge_set_id %>
	<% end %>
</table>