#header {
	text-align: right;
	margin: 1em;
	border-bottom: 1px dotted gray;
}

#flash {
	text-align: center;
}

#flash_error {
	border: 1px solid darkRed;
	background: pink;
	padding: 8px;
}

#flash_notice, #flash_info {
	border: 1px solid yellow;
	background: lightYellow;
	padding: 8px;
}

#flash_warning {
	border: 1px solid darkGoldenRod;
	background: yellow;
	padding: 8px;
}
