th, td {
	border: none;
}

ul.menu li {
	list-style: none;
}

ul li.first {
	margin-top:	1em;
	border-top: thin solid #d3d3d3;
}

#header {
	text-align: right;
	margin: 1em;
	padding-bottom: 0.5em;
	border-bottom: thin solid #d3d3d3;
}

.flash {
	text-align: center;
	padding:	.3em .4em;
	margin:		0 auto .5em;
	clear:		both;
	max-width:	46.923em; /* 610/13 */  
	*max-width:	45.750em; /* 610/13.3333 - for IE */
}

.flash.error {
	border: thin solid #8b0000;
	background: #ffc0cb;
}

.flash.notice, .flash.info {
	border: thin solid #ff0;
	background: #ffe;
}

.flash.warning {
	border: thin solid #b8860b;
	background: #ff0;
}

.flash .close {
	float:	right;
}

.flash .close a {
	color:				#f00;
	text-decoration:	none;
}

.tooltip {
    position: relative; /*this is the key*/
	background-color: #ffa;
}

.tooltip:hover{
	background-color: #ff6;
}

.tooltip span {
	display: none
}

.tooltip:hover span { /*the span will display just on :hover state*/
	z-index:		1; 
    display:		block;
    position:		absolute;
    top:			1.6em; 
	left:			0;
	border:			thin solid #ff0;
	background:		#ffe;
  	padding:		.3em .6em;
	text-align:		left;
	white-space:	nowrap;
}
