th, td {
	border: none;
}

ul.menu li {
	list-style: none;
}

#header {
	text-align: right;
	margin: 1em;
	border-bottom: 1px dotted gray;
}

.flash {
	text-align: center;
	margin:		auto
	max-width:	46.923em; /* 610/13 */  
	*width:		45.750em; /* 610/13.3333 - for IE */
}

.flash.error {
	border: 1px solid darkRed;
	background: pink;
	padding: 8px;
}

.flash.notice, .flash.info {
	border: 1px solid yellow;
	background: lightYellow;
	padding: 8px;
}

.flash.warning {
	border: 1px solid darkGoldenRod;
	background: yellow;
	padding: 8px;
}

.flash .close {
	float:	right;
}

.flash .close a {
	color:				red;
	text-decoration:	none;
}
