#btnSubmit { margin: 0 0 0 155px ; }

/* -- Table Styles ------------------------------- */
.swfupload  td {
/*	font: 10pt Helvetica, Arial, sans-serif; */
	vertical-align: top;
}

.swfupload .progressWrapper {
	width: 357px;
	overflow: hidden;
}

.swfupload .progressContainer {
	margin: 5px;
	padding: 4px;
	border: solid 1px #E8E8E8;
	background-color: #F7F7F7;
	overflow: hidden;
}
/* Message */
.swfupload .message {
	margin: 1em 0;
	padding: 10px 20px;
	border: solid 1px #FFDD99;
	background-color: #FFFFCC;
	overflow: hidden;
}
/* Error */
.swfupload .red {
	border: solid 1px #B50000;
	background-color: #FFEBEB;
}

/* Current */
.swfupload .green {
	border: solid 1px #DDF0DD;
	background-color: #EBFFEB;
}

/* Complete */
.swfupload .blue {
	border: solid 1px #CEE2F2;
	background-color: #F0F5FF;
}

.swfupload .progressName {
	font-size: 8pt;
	font-weight: 700;
	color: #555;
	width: 323px;
	height: 14px;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
}

.swfupload .progressBarInProgress,
.swfupload .progressBarComplete,
.swfupload .progressBarError {
	font-size: 0;
	width: 0%;
	height: 2px;
	background-color: blue;
	margin-top: 2px;
}

.swfupload .progressBarComplete {
	width: 100%;
	background-color: green;
	visibility: hidden;
}

.swfupload .progressBarError {
	width: 100%;
	background-color: red;
	visibility: hidden;
}

.swfupload .progressBarStatus {
	margin-top: 2px;
	width: 337px;
	font-size: 7pt;
	font-family: Arial;
	text-align: left;
	white-space: nowrap;
}

.swfupload a.progressCancel {
	font-size: 0;
	display: block;
	height: 14px;
	width: 14px;
	background-image: url(/images/cancelbutton.gif);
	background-repeat: no-repeat;
	background-position: -14px 0px;
	float: right;
}

.swfupload a.progressCancel:hover {
	background-position: 0px 0px;
}


/* -- SWFUpload Object Styles ------------------------------- */
.swfupload {
	vertical-align: top;
}
