<h1>Forgot password</h1>

<% form_for forgot_password_path do %>
    <label for="email">What is the email address used to create your account?</label><br/>
    <%= text_field_tag :email, "", :size => 50 %><br />

    <%= submit_tag 'Reset Password' %>
<% end %>