<h1>Listing identities</h1>

<table>
  <tr>
  </tr>

<% @identities.each do |identity| %>
  <tr>
    <td><%= link_to 'Show', identity %></td>
    <td><%= link_to 'Edit', edit_identity_path(identity) %></td>
    <td><%= link_to 'Destroy', identity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New identity', new_identity_path %>