<div id='header'>
	<% if logged_in? %>
		Welcome back, <%= link_to_current_user :title_method => :name, :user => true %>! 
		<%= link_to 'Log out', logout_path %>?
	<% else %>
		Would you like to <%= link_to 'log in', login_path %> or <%= link_to 'sign up', signup_path %>?
	<% end %>
</div>